* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      /* background-image: url("../images/bgFac.jpg"); */
  }

  .about{
    padding: 15px;
    padding-top: 30px;
  }

  .about img{
    margin-top: 70px;
    width:570px ;
    height:300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
  }

  #certificate{
    background-image: url("../images/about_certBg.jpg");
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    justify-content: space-evenly;
    padding-bottom: 3%;
  }
  
   .portfolio h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
  }
  .card {
    width: 25%;
    overflow: hidden;
    position: relative;
    
  }
  .card .content {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -100px;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    background: #111;
  }
  .card .image {
    z-index: 1;
    height: 100%;
  }
  .card img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1.2);
  }
  
  .card:hover .content {
    bottom: 0px;
    color: #fff;
  }
  
  .card:hover .image img {
    transform: scale(1);
  }
  
  .card .content span:first-child {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  
  .card .content span:last-child {
    font-size: 18px;
    color: #e5383b;
    text-align: center;
    font-weight: 700;
  }
  
  
  @media screen and (max-width: 768px) {
    .card {
    width: 50%;
    }
    .card .content {
      bottom: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
    width: 100%;
    }
  }

  :root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #212529;
    --color-primary: #e5383b;
    --color-secondary: #37373f;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: var(--font-default);
    color: var(--color-default);
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #ec2727;
    text-decoration: none;
  }
  
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary);
  }

  /*---------Image Slider-----------*/
  .gallery {
    overflow: hidden;
  }

  .section-header{
    padding-top: 3%;
  }

  .section-header h2{
    padding-bottom: 6%;
        font-size: 40px;
        color: var(--black-900);
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        /* color: #fff; */
    }
    
    #certificate .section-header h2{
        padding-bottom: 2%;
            font-size: 40px;
            color: var(--black-900);
            font-weight: 700;
            text-transform: capitalize;
            text-align: center;
            color: #fff;
        }

    .section-header h2 span{
        color: #e5383b;
    }

  
  .gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d1d7;
    opacity: 1;
  }
  
  .gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }
  
  .gallery .swiper-slide-active {
    text-align: center;
  }
  
  @media (min-width: 992px) {
    .gallery .swiper-wrapper {
      padding: 40px 0;
    }
  
    .gallery .swiper-slide-active {
      border: 5px solid var(--color-primary);
      padding: 4px;
      background: #fff;
      z-index: 1;
      transform: scale(1.5);
    }
  }

  /* .list-item .footer-link _2{
    font-size: 12px;
  } */

  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.mission {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  
}

/* .mission .container {
	background: linear-gradient(135deg, #0d0e20, #222343);
	font-family: Lato, sans-serif;
} */

.mission h1 {
	color: #ffffff;
}

.mission .container {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	gap: 1rem;
}

.mission .cards {
	display: flex;
	gap: 1rem;

}

.mission .card {
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	height: 22rem;
	width: 16rem;
  border-radius: 1rem;
	box-shadow: 0 0 2px #ffffff80;
}

.mission .card.one {
	background-image: url("../images/mission.jpg");
  margin-right: 27px;
  width: 350px;
}

.mission .card.two {
	background-image: url("../images/vision.jpg");
  margin-right: 27px;
  width: 350px;
}

.mission .card.three {
	background-image: url("../images/values.jpg");
  width: 350px;
}

.mission .details {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #ffffff10;
	border-top: 1px solid #ffffff30;
	border-radius: 1rem;
	-webkit-backdrop-filter: blur(0.75rem);
	backdrop-filter: blur(0.75rem);
	transition: ease 0.5s;
}

.mission .details:hover {
	padding-bottom: 0.5rem;
}

.mission .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 1rem;
}

.mission .content h2 {
	color: #ffffffdd;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.mission .content p {
	color: #ffffffaa;
	margin-bottom: 1.5rem;
	text-align: center;
}

.mission .content a {
	background-image: linear-gradient(
		90deg,
		#f90000aa 0%,
		#d54747ee 50%,
		#900000aa 100%
	);
	background-size: 200%;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: #000000bb;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.75rem 4rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 10px -3px #00000025;
	transition: 0.5s;
}

.mission .content a:hover {
	background-position: right;
}
