/*-----------
FONTS
-----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/*--------------
Global CSS
--------------*/
:root{
    --main-color: #e5383b;
    --color-1: #a4161a;
    --color-2: #b1a7a6;
    --color-3: #d3d3d3;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0,0.5);
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}

*{
    margin:0;
    padding:0;
    outline:none!important;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}


/* .effect-wrap .effect-1{
    left:20%;
    top:20%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 25px;
    color: var(--color-2);
    position: relative;
    animation: spin_01 5s linear infinite ;


} */

/*--------------
Navbar
--------------*/
.navbar{
    background-color: var(--main-color);
    padding:  0 15px;
}

.navbar > .container{
    padding: 10px 0;
}

.navbar .navbar-brand{
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;

}

.navbar .nav-item{
    margin-left: 50px;
    
}

.navbar .nav-item .nav-link{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 0;
    position: relative;
}

.dropdown-item{
  text-transform: capitalize;
}

.navbar .nav-item .nav-link::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;
    height:1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
    
}
.navbar .nav-item .nav-link.active:before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu > a:hover {
  background-image: none;
  background-color: #e5383b;
  color: #fff;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
} 
/*-------------------------------------------------------
               Home Section CSS Starts
-------------------------------------------------------*/

/*----------------------------------------
WHATSAPP SECTION
-----------------------------------------*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  animation: pulse-green 2s ease infinite;
}


.my-float{
	margin-top:16px;
}

/*----------------------------------------
WHATSAPP SECTION ENDS
-----------------------------------------*/

/*------------Sticky Tabbar Starts---------------*/
.tab{
  margin-top: 210px;
  position: fixed;
  z-index: 100;
  margin-left: 18px;
  opacity: 0.85;
}

.tab body {
  background-color: #a4161a;

}

.tab a {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 3;
}

.tab p {
  color: white;
  position: relative;
  left: -10px;
  font-family: "Lato";
}

.tab #sidebar {
  height: 250px;
  width: 10px;
  position: fixed;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
}

.tab p i {
  left: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}

.tab .social {
  margin-left: -200px;
  width: 230px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: #a4161a;
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  box-shadow: 0px 0px 6px 0px #3e3d3d;
  cursor: pointer;
}

.tab .social:hover {
  margin-left: -30px;
  width: 230px;
  background-color: #3b5998;
}

.tab .facebook:hover {
  background-color: #3b5998;
}

.tab .twitter:hover {
  background-color: #4099ff;
}

.tab .google:hover {
  background-color: #dd4b39;
}

.tab .insta p i {
  left: 20px;
}

.tab .google p i {
  left: 35px;
}

.tab .youtube p i {
  left: 18px;
}

.tab .youtube:hover {
  background-color: #e52d27;
}

.tab .insta:hover {
  background-image: url('../images/bg_insta1.jpg');
}


/*------------Sticky Tabbar Ends----------------*/

.Home{
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
}

.home-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}

.home-text p{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}

.home-img img{
    max-width: 550px;
    width: 100%;
    animation: bounceTop_01 3s ease infinite;
    
}

.btn-1{
    background-color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
.home-btn .video-play-btn{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}


.home-btn .video-play-btn i{
    line-height: 50px;
}

.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}

.btn-1{
    margin-top: 40px;
}

.btn-1:hover{
    color: #ffffff;
    background-color: var(--main-color);
}
.home-img img{
    position: relative;
}

/* .home-img .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}

.home-img .circle::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    left: 30px;
    top:30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
} */

@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01{
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}

@keyframes pulse_01{
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }

    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }

    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}


/*---Home Section CSS Ends---*/

/*------------------------------------
video POP UP section
------------------------------------*/

.video-popup{
    padding: 30px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1999;
    background-color: rgba(0,0,0,0,0.7);
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.video-popup.open{
    opacity: 1;
    visibility: visible;
}

.video-popup-inner{
    width: 100%;
    max-width: 900px;
    position: relative;

}

.video-popup .video-popup-close{
    position: absolute;
    right: 0;
    top:-30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ffffff;

}

.video-popup .iframe-box{
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}
.video-popup #player-1{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border:0;
}

/*-------------------------------------------------------
               Video Pop-up Section CSS Ends
-------------------------------------------------------*/

/*-------------------------------------------------------
               Feature Section CSS Starts
-------------------------------------------------------*/

.section-title{
    padding: 50px 0;
}



.section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.section-title h2 span{
    color: var(--main-color);
}

.section-title p{
    text-align: center;
}

.feature .feature-item{
    box-shadow: var(--shadow-black-100);
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-size: small;
    margin: 0 0 15px;
}

.feature .feature-item .icon{
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;

}

.feature .feature-item .icon::before{
    content: '';
    position: absolute;
    left:100%;
    top:0;
    width:100%;
    height:100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}
.feature .feature-item:hover .icon{
    color: #ffffff;
    font-size: 20px;
}

.feature .feature-item:hover .icon::before{
    left: 0;
    border-radius: 50%;
    opacity: 1;
}

.feature .feature-item .icon i{
    line-height: 60px;
    font-size: 16px;
}
.feature .feature-item h3{
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}

.feature .feature-item p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0;
    text-align: center;
}

.owl-carousel .owl-dots{
    padding: 0 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;

    
}
.owl-carousel button.owl-dot{
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0px 4px;
    border-radius: 5px;
    

}

.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}


/*-------------------------------------------------------
               Feature Section CSS Ends
-------------------------------------------------------*/

/*-------------------------------------------------------
               Press Section CSS Starts
-------------------------------------------------------*/

.press-section{
    background-color: var(--black-100);
    
}

.press-section.section-title{
    margin-top: 5px;
    text-align: center;
}  


/* .press-section .app-image img{
    max-width: 250px;
    width:100%;
    margin-left: 95px;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
} */

.item{
    
    padding: 10px;
    text-align: center;
    box-shadow: var(--shadow-black-300);
    border-radius: 10px;
    margin-top: 1px;
    
}

.press-section .item-press{
  display: flex;
  margin-bottom: 5%;
  margin-right: 15%;
  
}





/*-------------------------------------------------------
               Press Section CSS Ends
-------------------------------------------------------*/

/*------------------------------------------------------
               Course Card CSS starts
------------------------------------------------------*/
.course-section{
    padding: 50px 0;
    background-image: url('../images/cover-main.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.course-section::before{
    content: '';
    position: relative;
    left: 0;
    top: 0;
    width: 50%;
    height:50%;
    z-index: -1;
    opacity: 0.2;
}


.course-section h2{
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.course-section h2 span{
    color: var(--main-color);
}

.course-details{
    background-color: var(--black-000);
    padding: 30px;
    text-align: center;
    border-radius: 10%;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.my-card {
  width: 170px;
  height: auto;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  position: relative;
  border-radius: 20px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img-place {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#card-img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('../images/piano.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}

#card-img:hover {
  width: 300px;
}

#card-img-1 {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/violin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  }
  
  #card-img-1:hover {
    width: 300px;
  }


  #card-img-2 {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  }
  
  #card-img-2:hover {
    width: 300px;
  }
  
  #card-img-3 {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/guitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  }
  
  #card-img-3:hover {
    width: 300px;
  }
  
  #card-img-4 {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/drums.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  }
  
  #card-img-4:hover {
    width: 300px;
  }

  #card-img-5 {
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url('../images/vocals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  }
  
  #card-img-5:hover {
    width: 300px;
  }
  
  
.card-2-space {
padding: 0 40px 20px 40px;
}

.card-text {
  padding: 5%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color:  #1a1a1a;
  color: #ffffff;
  font-size: 15px;
}

.card-btn {
  width: 100%;
  margin-top: 10px;
}

.my-btn {
  width: 100%;
  background-color: #000000;
  border: 0px;
  padding: 5px;
  color: #ffffff;
  transition: 0.3s;
}

.my-btn:hover {
  background-color: var(--color-1);
}

@media (max-width: 767px){
.my-card {
    margin: 0 0 15px 0;
    }
}

.btnn {
  background-color:  #0d0d0d;
  color: #ffffff;
  padding: 5px;
  border: 1px solid  #1a1a1a;
  border-radius: 8px;
  transition: 0.3s;
}

.btnn:hover {
  background-color:  #bfbfbf;  
  color: #0d0d0d;
  border: 1px solid   #808080;
  font-weight: 100px;
}

/*------------------------------------------------------
               Course Card CSS Ends
------------------------------------------------------*/
  
/*------------------------------------------------------
               Testimonials CSS Starts
------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
}
:root {
	--mon: "Montserrat", sans-serif;
	--blue: #fff;
	--darkblue: var(--main-color);
}
.container {
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
}
.sec-title {
	margin-bottom: 50px;
	padding-bottom: 15px;
	position: relative;
}
.sec-title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 3px;
	background: rgb(255, 0, 0);
}
.sec-title h2 {
	font-size: 60px;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: var(--blue);
    color: #000000;
}
.sec-title p {
	font-size: 18px;
	line-height: 28px;
    color: #000000;
}
.testimonial-area {
	background: var(--blue);
	position: relative;
	z-index: 2;
	padding: 50px 0;
}
.testimonial-area .owl-carousel {
	overflow: hidden;
	padding: 0 20px;
	margin: 0px -40px;
	padding-right: 40px;
}
.testimonial-area .owl-stage-outer {
	padding: 30px 50px;
	margin-left: -34px;
	width: calc(100% + 100px);
}
.single-testimonial {
	border: 7px solid var(--main-color);
	text-align: center;
	border-radius: 45px;
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #000;
	font-size: 15px;
	line-height: 24px;
	padding: 50px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -35px;
	background: url(https://i.ibb.co/nb8Hjms/quote.png) no-repeat var(--blue);
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -35px;
	bottom: -34px;
	background: url(https://i.ibb.co/nb8Hjms/quote.png) no-repeat var(--blue);
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}
.round {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
/* .round-1::before {
	content: "";
	position: absolute;
	left: 88px;
	top: -7px;
	width: 50px;
	height: 7px;
	background: var(--main-color);
	border-radius: 30px;
}
.round-1::after {
	content: "";
	position: absolute;
	left: -7px;
	top: 62px;
	width: 7px;
	height: 50px;
	background: var(--main-color);
	border-radius: 30px;
}
.round-2::before {
	content: "";
	position: absolute;
	right: 87px;
	bottom: -7px;
	width: 50px;
	height: 7px;
	background: var(--main-color);
	border-radius: 30px;
	z-index: 1;
}
.round-2::after {
	content: "";
	position: absolute;
	right: -7px;
	bottom: 62px;
	width: 7px;
	height: 50px;
	background: var(--main-color);
	border-radius: 30px;
	z-index: 1;
} */
.client-video {
	padding-right: 15px;
}
.client-info {
	position: relative;
	z-index: 3;
}
.client-info a {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
	font-size: 22px;
}
.client-info {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding-bottom: 50px;
}
.client-info h6 {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	color: #000;
}
.client-info span {
	display: inline-block;
	color: #000;
	font-size: 12px;
}
.sec-title.white-title h2 {
	color: #000;
}
.owl-dots button {
	background: #000 !important;
	width: 10px;
	height: 10px;
	border-radius: 26px;
	margin: 0 5px;
	transition: 0.3s;
}
.owl-dots {
	text-align: center;
	margin-top: 50px;
}
.owl-dots button.active {
	width: 30px;
}


  
/*------------------------------------------------------
               Testimonials CSS Ends
------------------------------------------------------*/


/* ------------------------------------------------------
               Footer CSS Starts
------------------------------------------------------


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-section .row-f{
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: var(--main-color);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: grid;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 13px;
}
.footer-content {
  position: relative;
  z-index: 1;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 100px;
    margin-top: 15%;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 12px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.map{
  margin-left: 20%;
  width: 500px;
  height: 250px;
  margin-top: 1%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}

.insta-bg{
  background-image: url('../images/bg_insta.jpg');
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--main-color);
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: var(--main-color);
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background:var(--main-color) ;
    padding: 13px 20px;
    border: 1px solid var(--main-color);
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: var(--main-color);
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: var(--main-color);
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
 */


/*------------------------------------------------------
               Footer CSS Ends
------------------------------------------------------*/

/*--------------------------
Footer 1 start
---------------------------*/
.site-footer
{
  /* background-color:#232323; */
  background-image: url("../images/footer.jpg");
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:var(--main-color);
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:var(--main-color);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#232323
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background-image: url('../images/bg_insta.jpg');
}
.social-icons a.youtube:hover
{
  background-color:#dc0000
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



/*--------------------------
Footer 1 ends
---------------------------*/

/*----------------------------
Contact
-----------------------*/




.contact{
   padding: 80px 0;
}


.form{
  
  justify-content: center;
  display: table;
  width: 100%;
  height: 100vh;
  color:#000000;
  
}
.contact .header-section .small-title {
    margin-top: 15px;
    margin-bottom: 15px;
	  font-size: 35px;
    font-weight: 700;
    color: #e5383b;
}

.contact .header-section .small-title span {

    color: #000000;
}

.contact .header-section .title {
    font-weight: 400;
    font-size: 30px;
    color: rgb(59, 59, 59);
    border-bottom: 1px solid #e5383b;
    
}

.form .ex{
  font-weight: 400;
  font-size: 30px;
  color: rgb(59, 59, 59);
  border-bottom: 1px solid #e5383b;
  text-align: center;
}

.videoWrapper {
  margin-top: 5%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="videoWrapper"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
  }
}


.footer-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #d01820;
  color: #e9e9e9;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

.head{
  border-top: 1px solid var(--main-color);
  padding-top: 10px;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: 700;
}

.list-item{
  margin-bottom: 10px;
}

.copyright-text .main{
  color: var(--main-color);
}

/*----privacy section
---------------*/

.privacy-policy-section .section-title{
  margin-top: 5%;
}


/*Free Class Css*/

.freeClass {
	color: var(--main-color);
	font-family: Avenir Next, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.freeClass .btn {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 6px;
	display: inline-block;
	font-family: Avenir Next, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}





.btn_secondary {
	background-color: #fff;
	border-color: #fff;
	color: var(--main-color);
}

.btn_secondary:focus:not(:disabled):not(.btn_disabled),
.btn_secondary:hover:not(:disabled):not(.btn_disabled) {
	background-color: #f1f1f2;
	border-color: #fff;
}

.btn_secondary:active:not(:disabled):not(.btn_disabled) {
	background-color: #ebebec;
	border-color: #ebebec;
}

.btn_secondary.btn_disabled,
.btn_secondary:disabled {
	opacity: 0.5;
}




.freeClass .btn_outline-secondary {
	border-color: #fff;
	color: #fff;
}

.freeClass .btn_outline-secondary:focus:not(:disabled):not(.btn_disabled),
.freeClass .btn_outline-secondary:hover:not(:disabled):not(.btn_disabled) {
	background-color: #f1f1f2;
	color: var(--main-color);
}

.freeClass .btn_outline-secondary:active:not(:disabled):not(.btn_disabled) {
	background-color: #fff;
}

.freeClass .btn_outline-secondary.btn_disabled,
.freeClass .btn_outline-secondary:disabled {
	opacity: 0.5;
}




.btn_sm {
	font-size: 0.875rem;
	line-height: 1.4289;
	padding: 5px 15px;
}


@media (max-width: 575.98px) {
	.btn_block-mobile {
		display: block;
		width: 100%;
	}
}



.cookie-banner {
	align-items: flex-start;
	background: var(--color-1);
	border-radius: 10px;
	bottom: 12px;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	left: 50%;
	max-width: 500px;
	padding: 12px 16px;
	position: fixed;
	transform: translateX(-50%);
	width: calc(100% - 24px);
	z-index: 1;
  opacity: 0.8;
}

@media (min-width: 576px) {
	.cookie-banner {
		align-items: center;
	}
}

.cookie-banner__text {
	font-size: 12px;
	line-height: 1.67;
	margin-right: 12px;
}

.policy-header_cookie {
	background-color: #d9ae89;
}

.link {
	color: #e6842e;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

/*--------------Sticky Tabbar------
---------------------------------*/

@media screen and (max-width: 480px){

  .home-img img{
    margin-top: 10%;
    margin-left: 0%;
    width: 80%;
  }

  .my-card{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
    margin-left: 20%;
    width: 60%;
    height: auto;
  }




}